{% extends 'base_template.html' %}

{% block title %} Ajouter une classe {% endblock %}


{% block content %}
<div class="container">

    <div class="signup-div col-12 container">
        <h3>
            Ajouter une classe
        </h3>
        <fieldset>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {% for field in form %}

                {% if field.name == 'createur' %}
                <input type="hidden" name="createur" value={{user.id}} />
                {% else %}
                <div>
                    <label>{{ field.label }}</label>
                </div>
                <div>
                    {{ field }}
                </div>
                {% endif %}
                <br> 
                
                {% endfor %}
                <br>
                <div class="container">
                    <button class="btn btn-primary w-50" type="submit">Créer</button>
                </div>

            </form>
        </fieldset>

    </div>

</div>

{% endblock %}